<!doctype html>
<html>
	<head>
		<title>April-Knights <%= title %></title>
		<meta name="description" content="エンジニアリング事業/e-Sportsを中心にWeb業界にイノベーションを起こし続ける株式会社エイプリルナイツのホームページです。" />
		<meta name="keywords" content="AprilKnights,エイプリルナイツ,SES,パートナー,e-Sports,e-Sports採用,e-Sports求人,エンジニア派遣" />
		<meta charset="utf-8" />
		<link rel="icon" href="/images/favicon.ico" />
		<link rel='stylesheet' href='/stylesheets/reset.css' />
		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css'>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel='stylesheet' href='/stylesheets/flexslider.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<% posts.forEach(function(post) { %>
				<li>
					<form action="admin/destroy">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="_csrf" value="<%= scrf %>">
						<input type="hidden" name="_id" value="<%= post.id %>">
						<a href="admin/edit/<%= post._id %>"><%= post.itle %></a>
						<p>created: <%= post.created.toDateString() %></p>
						<button type="submit" onclick="return confirm('really deletion ?')">delete</button>
					</form>
				</li>
			<% }) %>
		</ul>
		<p><a href="/admin/new">create news</a></p>
		<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="/javascripts/jquery.flexslider.js"></script>
		<script src="/javascripts/common.js"></script>
	</body>
</html>